name: Continuous Delivery

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-release-${{ github.ref_name }}
      cancel-in-progress: false
    permissions:
      contents: write
    env:
      POLITE_CONFIG_DIR: packages/polite-config
    outputs:
      polite-config-release: ${{ steps.release-polite-config.outputs }}

    steps:
      - name: Wait for all test jobs
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.ref }}
          check-regexp: "test-.*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-no-checks: false

      # Note: We checkout the repository at the branch that triggered the workflow.
      # Python Semantic Release will automatically convert shallow clones to full clones
      # if needed to ensure proper history evaluation. However, we forcefully reset the
      # branch to the workflow sha because it is possible that the branch was updated
      # while the workflow was running, which prevents accidentally releasing un-evaluated
      # changes.
      - name: Setup | Checkout Repository on Release Branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Setup | Force release branch to be at workflow sha
        run: |
          git reset --hard ${{ github.sha }}

      - name: Release polite-config
        id: release-polite-config
        uses: python-semantic-release/python-semantic-release@v10.5.3
        with:
          directory: ${{ env.POLITE_CONFIG_DIR }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  publish-polite-config:
    runs-on: ubuntu-latest
    needs: release
    if: needs.release.outputs.polite-config-release.released == 'true'
    defaults:
      run:
        working-directory: packages/polite-config
    environment:
      name: testpypi
      url: https://test.pypi.org/project/polite-config/
    steps:
      - name: Setup | Checkout Repository on Release Branch
        uses: actions/checkout@v4
        with:
          lfs: true
          ref: ${{ github.ref_name }}

      - name: Setup | Force release branch to be at commit sha
        run: |
          git reset --hard ${{ needs.release.outputs.polite-config-release.commit_sha }}

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install poetry
        uses: abatilo/actions-poetry@v2

      - name: Install poetry-monoranger-plugin
        shell: bash
        run: |
          poetry self add poetry-monoranger-plugin

      - name: Update Poetry configuration
        run: poetry config virtualenvs.create false

      - name: Install dependencies
        run: poetry sync --no-interaction

      - name: Package project
        run: poetry build

      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
