name: docs test
on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "poetry.lock"
  pull_request:
    branches:
      - main
    paths:
      - "docs/**"
      - "poetry.lock"
env:
  FORCE_COLOR: 1

jobs:
  test:
    name: Test the current branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
      - name: Install package
        run: |
          poetry install --only docs
      - name: Build docs
        run: |
          poetry run sphinx-build -W --keep-going -b html docs ${{ runner.temp }}
